/* Font Faces */
@font-face {
font-family: 'ProximaNova-Bold';
src: url('/fonts/ProximaNova-Bold.eot');
}
@font-face {
font-family: 'ProximaNova-Bold';
src: url('/fonts/ProximaNova-Bold.woff') format('woff'),
url('/fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
}
@font-face {
font-family: 'ProximaNova-Regular';
src: url('/fonts/ProximaNova-Regular.eot');
}
@font-face {
font-family: 'ProximaNova-Regular';
src: url('/fonts/ProximaNova-Regular.woff') format('woff'),
url('/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
}
@font-face {
font-family: 'ProximaNova-LightIt';
src: url('/fonts/ProximaNova-LightItalic.eot');
}
@font-face {
font-family: 'ProximaNova-LightIt';
src: url('/fonts/ProximaNova-LightItalic.woff') format('woff'),
url('/fonts/ProximaNova-LightItalic.svg#ProximaNova-LightIt') format('svg');
}
@font-face {
    font-family: GillSans;
    font-style: bold;
    font-weight: 400;
    src: local('GillSans'), url("/static/fonts/ProximaNova-Extrabold.woff") format("woff");
}

body { padding-top: 70px; }

body.impersonated nav.navbar {
    background: url("/static/danger-bg.jpg") repeat-x 0 0;
    .navbar-brand {
        padding-left:10px;
        background-color: black;
        color:white;
    }
    .nav.navbar-nav {background-color: black;
        a {color:white;}

    li.dropdown {
        a {color:inherit;}
        .dropdown-toggle {
            color:white;
        }
    }
    }
    .nav>li>a:hover, .nav>li>a:focus {
        background-color: #222
    }
}

header {
    nav.navbar {
        background-color: white;
        border-bottom:1px solid #eee;
        li.impersonation {
            padding:10px;
            .btn {
                padding:4px;
            }
            .form-control {
                padding:4px;
                height: auto;
            }

        }
    }
}

html {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

.navbar-brand {
    background: url(/static/simbol_MAX_24.png) no-repeat left center;
    padding-left: 30px;
    height: 50px;
    kbd {
        background-color: #428bca;
        margin-left:10px;
        font-weight: bold
    }
}

.maxlogo {
    vertical-align: middle;
    padding-right: 10px;
}

.brandBold {
    font-family: GillSans, arial;
    font-size: 22px;
}

/* Login */
#login {
    margin: 7em auto;
    width: 320px;
}

@media (min-width: 768px) {

    .info-panel {
        dl {
            dt {width:90px;}
            dd {margin-left:100px;}
        }

    .panel-default>.panel-heading {
        color: white;
        background-color: lighten(#428bca, 10%);
        border-color: #ddd;
    }

    }
}


#backbone-container {

    .btn-focus {
        outline:none;
    }
    .btn-primary[disabled] {
        background-color: #ddd;
        border-color: #bbbbbb;
    }
    h4 a {font-size: 14px;}
    .resources-panel {
        padding:0;

        .panel-default{
            border:none;
            border-bottom: 1px solid #ddd;
            border-radius: 0px;
            &> .panel-heading {
                background-color: transparent;
                border:none;
                padding: 8px 10px;
            }
            &:last-child {border-bottom:none;}

        }
        .panel-group {
            margin-bottom: 0px;
        }

        .panel.resource {
            margin-top:0px;
            &:hover, &.active {
                background-color: lighten(#428bca,40%);
                .panel-heading {
                }
            }
            .glyphicon {
                font-size: 12px;
                padding-right: 5px;

            }
            .resource-item {
                text-decoration: none;
                cursor:pointer;
            }
        }
    }
    #api-resource-panel {
        h2 { margin-top:0px;}

        .panel {
            padding:10px;
            .resource-item {
                margin-bottom: 5px;
                label {
                    font-size: 14px;
                    span {
                        margin-left: 10px;
                        font-weight: normal;
                    }
                }
            }

            .form-group {
                margin-bottom: 0px;
                padding-bottom: 5px;
                text-rendering: optimizelegibility;
                font-size: 14px;
                .form-group {
                    input, label {
                        border-right: none;
                        font-size: 12px;
                        font-weight: normal;
                        height:24px;
                    }
                    input.param {
                        width:100%;
                    }
                    margin-bottom: 5px;
                }

                &>label {
                    font-weight: bold;
                    border-right: 4px #ddd solid;
                    padding-bottom: 8px;
                }

                h5 {
                    color: #428bca;
                     }

               input.param {
                        padding: 2px 4px;
                        width:130px;
                        border:1px solid #ddd;
                        border-radius:4px;
                        font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
                        display: inline-block;
                        height:30px;
                }
                span.fixed, label.fixed {
                    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
                }

                &#resource-name {
                    h5 .label {
                        font-size: 90%;
                        margin-left:10px;
                        font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
                    }
                }


                &#resource-uri {
                    input.param {font-weight: bold;}
                    .col-sm* {
                        padding-top: 7px;
                    }
                }

                &#request-headers, &#request-data {
                    .col-sm-10 {
                        border-left: 4px #ddd solid;
                        margin-left: -4px;
                    }
                }

                &#resource-description {
                    .col-sm-10 {padding-top: 9px;}
                    p {margin-bottom: 0px;}
                }

                &#request-data {
                    textarea {
                        min-height: 100px;
                        font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
                    }
                }

                &#request-submit {
                    label {border-right: none;}
                    i {
                        margin-right: 5px;
                    }
                }

                &#resource-method {
                    #methods-list {
                        margin-right: 20px;
                    }
                }
            }
        }

        #request-results {
            .tab-pane {
                padding:10px;
                padding-bottom: 0px;
                border: 1px solid #ddd;
                border-radius: 4px;
                border-top:none;
                border-top-right-radius: 0px;
                border-top-left-radius: 0px;
                -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
                box-shadow: 0 1px 1px rgba(0,0,0,.05);
            }
            #response-content {
                &[data-type=image] {
                    text-align: center;
                    img {
                        border: 1px solid #eee;
                        padding: 10px;
                        margin:10px;
                    }
                }
            }

        }


    }
}
