/* Font Faces */
@font-face {
font-family: 'ProximaNova-Bold';
src: url('/fonts/ProximaNova-Bold.eot');
}
@font-face {
font-family: 'ProximaNova-Bold';
src: url('/fonts/ProximaNova-Bold.woff') format('woff'),
url('/fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
}
@font-face {
font-family: 'ProximaNova-Regular';
src: url('/fonts/ProximaNova-Regular.eot');
}
@font-face {
font-family: 'ProximaNova-Regular';
src: url('/fonts/ProximaNova-Regular.woff') format('woff'),
url('/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
}
@font-face {
font-family: 'ProximaNova-LightIt';
src: url('/fonts/ProximaNova-LightItalic.eot');
}
@font-face {
font-family: 'ProximaNova-LightIt';
src: url('/fonts/ProximaNova-LightItalic.woff') format('woff'),
url('/fonts/ProximaNova-LightItalic.svg#ProximaNova-LightIt') format('svg');
}
@font-face {
    font-family: GillSans;
    font-style: bold;
    font-weight: 400;
    src: local('GillSans'), url("/static/fonts/ProximaNova-Extrabold.woff") format("woff");
}

body { padding-top: 70px; }

header {
    nav.navbar {
        background-color: white;
        border-bottom:1px solid #eee;
    }
}

html {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

.navbar-brand {
    background: url(/static/simbol_MAX_24.png) no-repeat left center;
    padding-left: 30px;
    height: 50px;
    kbd {
        background-color: #428bca;
        margin-left:10px;
        font-weight: bold
    }
}

.maxlogo {
    vertical-align: middle;
    padding-right: 10px;
}

.brandBold {
    font-family: GillSans, arial;
    font-size: 22px;
}

/* Login */
#login {
    margin: 7em auto;
    width: 320px;
}

@media (min-width: 768px) {

    .info-panel {
        dl {
            dt {width:90px;}
            dd {margin-left:100px;}
        }

    .panel-default>.panel-heading {
        color: white;
        background-color: lighten(#428bca, 10%);
        border-color: #ddd;
    }

    }
}


#backbone-container {
    .resources-panel {
        padding:0;

        .panel-default{
            border:none;
            border-bottom: 1px solid #ddd;
            border-radius: 0px;
            &> .panel-heading {
                background-color: transparent;
                border:none;
            }
            &:last-child {border-bottom:none;}

        }
        .panel-group {
            margin-bottom: 0px;
        }

        .panel.resource {
            .glyphicon {
                font-size: 12px;
                padding-right: 5px;

            }
        }
    }
    #api-resource-panel {
        h2 { margin-top:0px;}

        .panel {
            padding:10px;
            .resource-item {
                margin-bottom: 5px;
                label {
                    font-size: 16px;
                    span {
                        margin-left: 10px;
                        font-weight: normal;
                    }
                }
            }

            .form-group {
                label {
                    font-size: 16px;
                    font-weight: bold;
                }

                h5 {
                    color: #428bca;
                    font-size: 16px;
                }

                &#resource-uri {
                    text-rendering: optimizelegibility;
                    font-size: 16px;
                    input.param {
                        padding: 2px 8px;
                        width:130px;
                        border:1px solid #ddd;
                        border-radius:4px;
                        font-size: 16px;
                        font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
                        display: inline-block;
                    }
                    span.fixed {
                        font-weight: bold;
                        font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
                    }
                }
            }
        }
    }
}
