/* Font Faces */

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('/fonts/ProximaNova-Bold.eot');
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('/fonts/ProximaNova-Bold.woff') format('woff'), url('/fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('/fonts/ProximaNova-Regular.eot');
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('/fonts/ProximaNova-Regular.woff') format('woff'), url('/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
}

@font-face {
  font-family: 'ProximaNova-LightIt';
  src: url('/fonts/ProximaNova-LightItalic.eot');
}

@font-face {
  font-family: 'ProximaNova-LightIt';
  src: url('/fonts/ProximaNova-LightItalic.woff') format('woff'), url('/fonts/ProximaNova-LightItalic.svg#ProximaNova-LightIt') format('svg');
}

@font-face {
  font-family: GillSans;
  font-style: bold;
  font-weight: 400;
  src: local('GillSans'), url("/static/fonts/ProximaNova-Extrabold.woff") format("woff");
}

body {
  padding-top: 70px;
  font-family: "ProximaNova-Regular", serif;
}

.navbar-brand {
  height: 50px;
  padding-left: 30px;
  background: url(/static/simbol_MAX_24.png) no-repeat left center;
}

.maxlogo {
  padding-right: 10px;
  vertical-align: middle;
}

.brandBold {
  font-family: GillSans, arial;
  font-size: 22px;
}

/* Login */

#login {
  width: 320px;
  margin: 7em auto;
}