/* Font Faces */
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('/fonts/ProximaNova-Bold.eot');
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('/fonts/ProximaNova-Bold.woff') format('woff'), url('/fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('/fonts/ProximaNova-Regular.eot');
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('/fonts/ProximaNova-Regular.woff') format('woff'), url('/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
}
@font-face {
  font-family: 'ProximaNova-LightIt';
  src: url('/fonts/ProximaNova-LightItalic.eot');
}
@font-face {
  font-family: 'ProximaNova-LightIt';
  src: url('/fonts/ProximaNova-LightItalic.woff') format('woff'), url('/fonts/ProximaNova-LightItalic.svg#ProximaNova-LightIt') format('svg');
}
@font-face {
  font-family: GillSans;
  font-style: bold;
  font-weight: 400;
  src: local('GillSans'), url("/static/fonts/ProximaNova-Extrabold.woff") format("woff");
}
body {
  padding-top: 70px;
}
body.impersonated nav.navbar {
  background: url("/static/danger-bg.jpg") repeat-x 0 0;
}
body.impersonated nav.navbar .navbar-brand {
  padding-left: 10px;
  background-color: black;
  color: white;
}
body.impersonated nav.navbar .nav.navbar-nav {
  background-color: black;
}
body.impersonated nav.navbar .nav.navbar-nav a {
  color: white;
}
body.impersonated nav.navbar .nav.navbar-nav li.dropdown a {
  color: inherit;
}
body.impersonated nav.navbar .nav.navbar-nav li.dropdown .dropdown-toggle {
  color: white;
}
body.impersonated nav.navbar .nav > li > a:hover,
body.impersonated nav.navbar .nav > li > a:focus {
  background-color: #222222;
}
header nav.navbar {
  background-color: white;
  border-bottom: 1px solid #eee;
}
header nav.navbar li.impersonation {
  padding: 10px;
}
header nav.navbar li.impersonation .btn {
  padding: 4px;
}
header nav.navbar li.impersonation .form-control {
  padding: 4px;
  height: auto;
}
html {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
.navbar-brand {
  background: url(/static/simbol_MAX_24.png) no-repeat left center;
  padding-left: 30px;
  height: 50px;
}
.navbar-brand kbd {
  background-color: #428bca;
  margin-left: 10px;
  font-weight: bold;
}
.maxlogo {
  vertical-align: middle;
  padding-right: 10px;
}
.brandBold {
  font-family: GillSans, arial;
  font-size: 22px;
}
/* Login */
#login {
  margin: 7em auto;
  width: 320px;
}
@media (min-width: 768px) {
  .info-panel dl dt {
    width: 90px;
  }
  .info-panel dl dd {
    margin-left: 100px;
  }
  .info-panel .panel-default > .panel-heading {
    color: white;
    background-color: #6aa3d5;
    border-color: #ddd;
  }
}
#backbone-container .btn-focus {
  outline: none;
}
#backbone-container .btn-primary[disabled] {
  background-color: #ddd;
  border-color: #bbbbbb;
}
#backbone-container h4 a {
  font-size: 14px;
}
#backbone-container .resources-panel {
  padding: 0;
}
#backbone-container .resources-panel .panel-default {
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0px;
}
#backbone-container .resources-panel .panel-default > .panel-heading {
  background-color: transparent;
  border: none;
  padding: 8px 10px;
}
#backbone-container .resources-panel .panel-default:last-child {
  border-bottom: none;
}
#backbone-container .resources-panel .panel-group {
  margin-bottom: 0px;
}
#backbone-container .resources-panel .panel.resource {
  margin-top: 0px;
}
#backbone-container .resources-panel .panel.resource:hover,
#backbone-container .resources-panel .panel.resource.active {
  background-color: #e1edf7;
}
#backbone-container .resources-panel .panel.resource .glyphicon {
  font-size: 12px;
  padding-right: 5px;
}
#backbone-container .resources-panel .panel.resource .resource-item {
  text-decoration: none;
  cursor: pointer;
}
#backbone-container #api-resource-panel h2 {
  margin-top: 0px;
}
#backbone-container #api-resource-panel .panel {
  padding: 10px;
}
#backbone-container #api-resource-panel .panel .resource-item {
  margin-bottom: 5px;
}
#backbone-container #api-resource-panel .panel .resource-item label {
  font-size: 14px;
}
#backbone-container #api-resource-panel .panel .resource-item label span {
  margin-left: 10px;
  font-weight: normal;
}
#backbone-container #api-resource-panel .panel .form-group {
  margin-bottom: 0px;
  padding-bottom: 5px;
  text-rendering: optimizelegibility;
  font-size: 14px;
}
#backbone-container #api-resource-panel .panel .form-group .form-group {
  margin-bottom: 5px;
}
#backbone-container #api-resource-panel .panel .form-group .form-group input,
#backbone-container #api-resource-panel .panel .form-group .form-group label {
  border-right: none;
  font-size: 12px;
  font-weight: normal;
  height: 24px;
}
#backbone-container #api-resource-panel .panel .form-group .form-group input.param {
  width: 100%;
}
#backbone-container #api-resource-panel .panel .form-group > label {
  font-weight: bold;
  border-right: 4px #ddd solid;
  padding-bottom: 8px;
}
#backbone-container #api-resource-panel .panel .form-group h5 {
  color: #428bca;
}
#backbone-container #api-resource-panel .panel .form-group input.param {
  padding: 2px 4px;
  width: 130px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  display: inline-block;
  height: 30px;
}
#backbone-container #api-resource-panel .panel .form-group span.fixed,
#backbone-container #api-resource-panel .panel .form-group label.fixed {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
#backbone-container #api-resource-panel .panel .form-group#resource-name h5 .label {
  font-size: 90%;
  margin-left: 10px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
#backbone-container #api-resource-panel .panel .form-group#resource-uri input.param {
  font-weight: bold;
}
#backbone-container #api-resource-panel .panel .form-group#resource-uri .col-sm* {
  padding-top: 7px;
}
#backbone-container #api-resource-panel .panel .form-group#request-headers .col-sm-10,
#backbone-container #api-resource-panel .panel .form-group#request-data .col-sm-10 {
  border-left: 4px #ddd solid;
  margin-left: -4px;
}
#backbone-container #api-resource-panel .panel .form-group#resource-description .col-sm-10 {
  padding-top: 9px;
}
#backbone-container #api-resource-panel .panel .form-group#resource-description p {
  margin-bottom: 0px;
}
#backbone-container #api-resource-panel .panel .form-group#request-data textarea {
  min-height: 100px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
#backbone-container #api-resource-panel .panel .form-group#request-submit label {
  border-right: none;
}
#backbone-container #api-resource-panel .panel .form-group#request-submit i {
  margin-right: 5px;
}
#backbone-container #api-resource-panel .panel .form-group#resource-method #methods-list {
  margin-right: 20px;
}
#backbone-container #api-resource-panel #request-results .tab-pane {
  padding: 10px;
  padding-bottom: 0px;
  border: 1px solid #ddd;
  border-radius: 4px;
  border-top: none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#backbone-container #api-resource-panel #request-results #response-content[data-type=image] {
  text-align: center;
}
#backbone-container #api-resource-panel #request-results #response-content[data-type=image] img {
  border: 1px solid #eee;
  padding: 10px;
  margin: 10px;
}
.exception a {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-weight: bold;
}
